.logo {
    background: url(../images/logo.png) no-repeat;
    width: 75px;
    height: 75px;
    text-indent: -9999px;
    display: block;
    margin: 50px auto 0;
}

legend {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin: 30px 0
}

.contentsWrap {
    width: 80%;
    max-width: 500px;
    margin: auto
}

.joinBtn {
    margin: auto;
    display: block
}